.header {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #37A953;
    text-align: center;
    text-decoration: #1E703B underline;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    font-size: 35px;
    color: #3754A9 
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #378DA9 
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    font-size: 20px;
}

body {
    background-color: #BBE9DD;
}

.footer {
    background-color: #70948F;
    text-align: center;
}
